Reading players.csv and teams.csv to answer the questions.

In [13]:
playerdf=read.csv('players.csv')

In [14]:
teamdf=read.csv('teams.csv')

Which are the top 10 players by number of appearances (with any team they played with)?

In [15]:
playerdf[rev(order(playerdf$appearances)),][1:10,c('player_name','appearances')]

     player_name          appearances
2090 Steve Mandanda       300
4030 Stephane Ruffier     294
4335 Samir Handanovic     286
2483 Gorka Iraizoz Moreno 286
2118 Tim Howard           282
1237 Hugo Lloris          282
2111 Joe Hart             275
1178 Cedric Carrasso      268
1290 Daniel Congre        262
5450 Moussa Sissoko       260

Which are the top 10 goalkeepers by sum of gk attributes?

In [16]:
playerdf[rev(order(playerdf$gk_sum)),][1:10,c('player_name','gk_sum')]

     player_name       gk_sum
1891 Gianluigi Buffon  449
3796 Gregory Coupet    447
1959 Petr Cech         445
1847 Iker Casillas     442
1496 Manuel Neuer      440
2044 Julio Cesar       438
835  Sebastian Frey    437
1898 Edwin van der Sar 436
7550 David De Gea      429
1827 Paul Robinson     426

Which are the top 10 players by overall rating?

In [17]:
playerdf[rev(order(playerdf$overall_rating)),][1:10,c('player_name','overall_rating')]

     player_name       overall_rating
2039 Lionel Messi      94
1980 Cristiano Ronaldo 93
1937 Wayne Rooney      93
1891 Gianluigi Buffon  93
3796 Gregory Coupet    92
3770 Xavi Hernandez    92
2665 Fabio Cannavaro   91
2022 Andres Iniesta    91
1912 Ronaldinho        91
1895 Alessandro Nesta  91

Which are the top 10 players by number of leagues they played in?

In [18]:
playerdf[rev(order(playerdf$leagues)),][1:10,c('player_name','leagues')]

     player_name           leagues
4281 Gelson Fernandes      6
7339 Filip Djuricic        5
6104 Ricky van Wolfswinkel 5
8588 Christian Atsu        4
8360 Jose Campana          4
7594 Stefan Scepovic       4
7270 Xherdan Shaqiri       4
7141 Haris Seferovic       4
6867 Gael Kakuta           4
6865 Vladimir Weiss        4

Which are the top 10 teams by number of scored goals?

In [19]:
teamdf[rev(order(teamdf$goals)),][1:10,c('team_long_name','goals')]

    team_long_name    goals
135 FC Barcelona      849
134 Real Madrid CF    843
226 Celtic            695
184 FC Bayern Munich  653
139 PSV               652
125 Ajax              647
229 FC Basel          619
82  Manchester City   606
81  Chelsea           583
276 Manchester United 582

Which are the top 10 teams by sum of defense attributes?

In [20]:
teamdf[rev(order(teamdf$defence_sum)),][1:10,c('team_long_name','defence_sum')]

    team_long_name         defence_sum
273 Montpellier Hérault SC 210
250 Queens Park Rangers    210
248 Swansea City           210
247 KVC Westerlo           210
240 Beerschot AC           210
236 Sporting Charleroi     210
219 Hannover 96            210
197 Stade Rennais FC       210
195 Paris Saint-Germain    210
191 OGC Nice               210

Which are the top 10 teams by sum of build up play attributes?

In [21]:
teamdf[rev(order(teamdf$buildUpPlay_sum)),][1:10,c('team_long_name','buildUpPlay_sum')]

    team_long_name       buildUpPlay_sum
57  SV Darmstadt 98      179
286 FC Arouca            174
74  SD Eibar             165
118 KV Oostende          155
132 Boavista FC          153
288 Royal Excel Mouscron 150
242 Royal Excel Mouscron 150
18  FC Penafiel          147
37  Zawisza Bydgoszcz    145
16  Go Ahead Eagles      144

Which are the top 10 teams by sum of chance creation attributes?

In [22]:
teamdf[rev(order(teamdf$chanceCreation_sum)),][1:10,c('team_long_name','chanceCreation_sum')]

    team_long_name          chanceCreation_sum
250 Queens Park Rangers     210
248 Swansea City            210
202 Heart of Midlothian     210
177 St. Mirren              210
176 Reading                 210
144 Birmingham City         210
129 Wolverhampton Wanderers 210
108 Rangers                 210
94  Aberdeen                210
67  Cardiff City            210